<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>

<body>

    {{> navbar}}

    <main>

        {{{body}}}

    </main>

    <footer class="main-footer">
        <div class="main-footer__content">
            <h2 class="main-footer__content__title">Juguetería Cósmica</h2>
            <span>Juguetería Cósmica S.A.</span>
            <span>Cuit 30-58528558-3</span>
            <span>Int. Neyer 1451, Provincia de Buenos Aires</span>
        </div>
        <div class="main-footer__content">
            <h2 class="main-footer__content__title">Compras</h2>
            <a href="#" class="main-footer__content__link">Venta Corporativa</a>
            <a href="#" class="main-footer__content__link">Medios de pago</a>
            <a href="#" class="main-footer__content__link">Plazos y costos de
                entrega</a>
            <a href="#" class="main-footer__content__link">Cambios y devoluciones</a>
            <a href="#" class="main-footer__content__link">Terminos y condiciones</a>
            <a href="#" class="main-footer__content__link">Promociones</a>
        </div>
        <div class="main-footer__content">
            <h2 class="main-footer__content__title">Nosotros</h2>
            <a href="#" class="main-footer__content__link">Sucursales</a>
            <a href="#" class="main-footer__content__link">Información de marca</a>
            <a href="#" class="main-footer__content__link">Trabajá con nosotros</a>
            <a href="#" class="main-footer__content__link">Política de privacidad</a>
            <a href="#" class="main-footer__content__link">Trámites</a>
        </div>
        <div class="main-footer__content">
            <h2 class="main-footer__content__title">Contacto</h2>
            <a href="#" class="main-footer__content__link">Whatsapp: 11 2222-3333</a>
            <a href="mailto:contacto@jugueteriacosmica.com.ar"
                class="main-footer__content__link">contacto@jugueteriacosmica.com.ar</a>
        </div>
        <div class="main-footer__content">
            <p>Desarrollado por Luca Leonardi</p>
        </div>
    </footer>
    <!-- <script src="js/createCards.js"></script> -->
</body>

</html>