
        <div class="about-us__element">
            <h1>¿Quiénes somos?</h1>
            <p>
                En 1936 Antonio Alvarado, recién llegado de España a Argentina, queriendo cumplir su sueño de poder
                hacer
                felices a todos los niños instaló un taller en su casa y usó las habilidades de carpintería heredadas de
                su
                padre para poder crear juguetes de madera. Al tiempo el pequeño negocio empezó a crecer, pudiendo así
                ser
                capaz de construir una fábrica y juguetería. En la actualidad, Juguetería Cósmica es dirigida por los
                nietos
                de Antonio, y aman la compañía familiar tanto como su abuelo.
            </p>
            <div class="image-n1 image-container">
                <img src="img/assets/aboutus-1.jpg" alt="Foto Antonio Alvarado" class="image">
            </div>
        </div>
        <div class="about-us__element">
            <h1>Acciones solidarias</h1>
            <p>Hemos participado en muchas oportunidades de eventos caricativos, y así ayudado a las familias más
                vulnerables y poniendo una sonrisa en la cara de los niños</p>
            <div class="image-n2 image-container">

                <img src="img/assets/aboutus-2.jpg" alt="Foto niño con juguete" class="image">
            </div>
        </div>
        <div class="about-us__element">
            <h1>Nuestros objetivos</h1>
            <p>
                Fomentar el amor y el humor,
                como el espacio de conexión entre las personas, al que todos sin excepción pertenecemos, mas allá de
                nuestra procedencia, raza, cultura, condición social y económica, o cualquier otra seña de identidad.
                Reivindicar la convivencia como fuente de salud. Demostrar que una persona no es un organismo aislado,
                sino parte de una familia, una comunidad y del mundo, y que todos necesitamos de asistencia y amor,
                entendiendo amor no desde una visión romántica, si no desde una fuerza de cooperación y estado de
                armonía presente desde nuestros orígenes biológicos. Ser parte de este movimiento.
            </p>
            <div class="image-n3 image-container">
                <img src="img/assets/aboutus-3.jpg" alt="Foto solidaridad" class="image">
            </div>
        </div>