
        <h1 class="contact-form__title">¡Tu opinión nos importa!</h1>
        <form action="#" class="contact-form">

            
            <div class="contact-form__element form__element__customer-commentary">
                <label class="customer-commentary__label" for="customer-commentary">Tu comentario: </label>
                <textarea class="customer-commentary__textarea" name="customer-commentary" id="customer-commentary" cols="10" rows="5"></textarea>
            </div>

            <div class="contact-form__element form__element__customer-contact">
                <label class="customer-name__label" for="customer-name">Tu nombre completo: </label>
                <input class="customer-name__input contact-input" type="text" id="customer-name" autofocus name="customer-name">

                <label class="customer-email__label" for="customer-email">Tu dirección de correo electrónico: </label>
                <input class="customer-email__input contact-input" type="text" id="customer-email" name="customer-email">


                <input type="submit" class="contact-submit-button">
            </div>

        </form>
