<section class="section-cards">


    <header class="section-cards__header">
        <h1>Productos</h1>
        <p style="color: black;">Navegá a través de nuestro amplio catálogo</p>
    </header>

    {{> products/productsTable}}

    <footer class="section-cards__footer">
        <p>El envío gratis está sujeto al peso, precio y la distancia del envío.</p>
    </footer>

</section>