    <header class="main-header">

        <div class="main-header__logo-container">
            <a href="index.html" tabindex="-1">
                <img src="/img/assets/logo.png" alt="Logo" />
            </a>
        </div>

        <div class="main-header__search-form-container">
            <input type="text" id="form-container__search-bar" class="form-container__search-bar"
                placeholder="Buscar..." />
            <label for="form-container__search-bar" class="material-symbols-outlined form-container__search-button">
                search
            </label>
        </div>

        <div class="main-header__cart-button-container">
            <span class="material-symbols-outlined cart">
                shopping_cart
            </span>
        </div>

        <div class="main-header__hamburger-button-container">
            <div class="hamburger-button"></div>
        </div>

        <div class="main-header__main-nav-container">
            <nav class="main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="/" class="main-nav__link" data-js="alta">Inicio</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/alta" class="main-nav__link">Alta</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/contacto" class="main-nav__link">Contacto</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="/nosotros" class="main-nav__link">Nosotros</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="cart-container">
            <div class="cart-container__modal-background">
                <div class="cart-container__modal">
                    <span class="material-symbols-outlined modal__close-window">
                        close
                    </span>
                    <div class="modal__content">
                        Carrito de compras
                        <hr>
                        <div class="cart__content">
                            <div class="cart__product">
                                <img src="/img/products/baby_doll.jpg" alt="babyDoll" class="product__img">
                                <span>Baby doll lorem90</span>
                                <div class="delete-button">X</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<script src="/js/burgetButton.js"></script>
<script src="/js/cart.js" type="module"></script>
{{!-- <script src="/js/addElementsToCart.js"></script> --}}