.form-container__search-bar{
    width: 70%;
    max-width: 356px;
    padding: 3px;
    border-radius: 150px;
    float: left;

}


.form-container__search-button{
    padding-left: 20px;
    float:left;
}