
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined");

body{
    font-family: 'Signika', sans-serif;
    color: #000000;
}

h1,
h2{
    font-family: 'Fredoka One', cursive;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    cursor: pointer;
    
    }
